.main-wrapper {
	background: red;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items:center;
	justify-content: center;
	flex-direction:column;
}

h2 {
	font-size: 2rem;
	color: #ffffff;
}

h3 {
	font-size: 1.25rem;
	color: #ffffff;
}

.banner-image {
	background: 
	url(./assets/marscity.jpg) no-repeat center top;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	position: relative;
	display: flex;
	flex-direction: column;
}