.main-wrapper {
	background: red;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items:center;
	justify-content: center;
	flex-direction:column;
}

h2 {
	font-size: 2rem;
	color: #ffffff;
}

h3 {
	font-size: 1.25rem;
	color: #ffffff;
}