.checkin-wrapper {
	background: #000000;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items:center;
	justify-content: center;
	flex-direction:column;
}

h2 {
	font-size: 2rem;
}	

	Button {
	font-size: 2rem;
}

